@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding-top: 10%;
  margin-top: -10%;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  padding: 0 15px;
}

.img-brand {
  width: 2rem;
  height: 2rem;
  border: 2px solid cadetblue;
  border-radius: 50% 50%;
  margin: 5px 5px;
  padding: 5px 5px;
}

a {
  text-decoration: none;
  color: teal;
}

.humburger {
  display: none;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  list-style: none;
  margin-right: 0%;
}

.trending {
  background-color: rgb(172, 167, 167);
  border: solid 1px transparent;
  color: #333;
  font-weight: 600;
  border-radius: 0.5rem;
}

.trending a {
  color: #fff;
}

.nav-item {
  margin-right: 10px;
  padding: 10px;
}

.nav-item a:hover {
  color: red;
}

.trending a:hover {
  color: #fff;
}

.trending:hover {
  border: solid 1px red;
  background-color: lightcoral;
}

h1 {
  color: blue;
  padding-top: 7%;
  margin-bottom: 0;
  font-size: 1rem;
}

.search-engine {
  height: 2rem;
  width: 20%;
}

.search-btn {
  height: 2.3rem;
  border: none;
  margin-right: 5%;
}

#count {
  font-size: 1em;
  color: #333;
}

#middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  animation: mymove 3s infinite;
  padding-bottom: 5%;
}

article {
  background: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  border-radius: 1rem;
}

@keyframes mymove {
  from { background-color: rgba(55, 95, 92, 0.815); }
  to { background-color: rgb(55, 95, 92); }
}

article img {
  width: 70%;
  border-radius: 0.5rem;
  height: 65%;
  margin-top: 3%;
}

.likes img {
  height: 1.5rem;
  width: 1.5rem;
}

article img:hover {
  transform: rotate(1deg);
  transition: all ease-out 1s;
}

p {
  margin: 0;
}

article p {
  display: none;
}

article button {
  background-color: rgba(79, 79, 221, 0.568);
  height: 3rem;
  color: #fff;
  border-radius: 0.4rem;
  border: solid transparent;
}

article button:hover {
  background-color: rgba(79, 79, 221, 0.219);
  color: #fff;
}

h5 {
  color: #fff;
  font-size: 1.3em;
  text-align: center;
}

.comment-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: cadetblue;
  height: inherit;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 20px;
  border: 3px solid #fff;
  z-index: 999;
  overflow-y: scroll;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-container {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  margin-top: 15px;
}

.mov-img {
  width: 100%;
  height: inherit;
}

.close-icon {
  margin-top: 15px;
  margin-right: 80px;
  color: #fff;
  height: 20px;
}

.close-icon:hover {
  color: #333;
  cursor: pointer;
}

.hide-modal {
  display: none;
}

.movie-name {
  text-align: center;
  font-size: 3em;
  color: #fff;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 10px;
  width: 80%;
  height: inherit;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 10px;
}

.detail-item {
  align-content: center;
  height: inherit;
  padding: 15px;
  font-size: 17px;
  color: #fff;
}

.likes {
  display: flex;
  flex-direction: row;
  font-size: 0.5rem;
  margin-top: -4rem;
}

.likes p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  color: #fff;
}

span {
  font-size: 12px;
  margin-right: 4px;
}

.comments {
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  color: #fff;
}

.comment-list {
  text-align: left;
}

.commnent-item {
  margin-top: 20px;
}

.add-comment {
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  color: #fff;
}

.comm-header,
.add-comm-header {
  text-align: center;
  font-size: 1.5em;
}

.nameInput {
  border: 0;
  border-radius: 6px 6px;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.commentInput {
  border: 0;
  border-radius: 6px 6px;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.nameInput::placeholder,
.commentInput::placeholder {
  color: cadetblue;
  font-size: 17px;
}

.sub-comment-btn {
  border: 0;
  border-radius: 6px 6px;
  padding: 8px 10px;
  margin-top: 10px;
  color: cadetblue;
  font-size: 17px;
}

.sub-comment-btn:hover {
  cursor: pointer;
}

footer {
  height: 10vh;
  color: white;
  background-color: #333;
  font-size: 0.8rem;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 3%;
}

/* ===============(MEDUIM SCREENS)==================== */

@media screen and (max-width: 1000px) {
  #middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    animation: mymove 3s infinite;
  }
}

/* ===============(SMALL SCREENS)==================== */

@media screen and (max-width: 500px) {
  #middle {
    display: grid;
    grid-template-columns: 1fr;
    animation: mymove 3s infinite;
  }

  .header {
    /* margin-top: -3%; */
    position: initial;
    width: 100%;
    margin-bottom: -7%;
  }

  .nav-items {
    display: none;
  }

  .search-engine {
    width: 46%;
    margin-left: 10%;
  }

  .img-brand {
    margin-top: 8%;
    width: 10%;
    height: 10%;
    display: none;
  }

  .humburger {
    display: flex;
    width: 80%;
    height: 80%;
  }
}
