@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 0 15px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  color: teal;
}

.nav-item {
  margin-right: 10px;
}

#middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* background: url(./assets/template-g6d091e8f1_1280.jpg); */
  animation: mymove 2s infinite;
}

article {
  background: rgb(12, 65, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  
}

@keyframes mymove {
  from {background-color: rgb(100, 48, 48);}
  to {background-color: rgb(55, 95, 92);}
}

article img {
  height: 65%;
}

article img:hover {
  transform:rotate(3deg);
  transition: all ease-out 1s;
}

article p {
  display: none;
}

article button {
  background-color: brown;
  height: 3rem;
  color: #fff;
}

article button:hover {
  background-color: rgb(182, 96, 96);
  color: #fff;
}